@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body{
	background-color: #f85032;  /* fallback for old browsers */
	background-color: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
	background-color: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	background-image: url("bg.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 102vh;
	width: 100%;
	max-width: 2000px;
	max-height: 1280px;
	min-height: 200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-position: -3px 15%;

	@media screen and (orientation: portrait) {
		background-position-x: 65%;
	  }
	  @media screen and (orientation: portrait) and (min-height: 800px) {
		background-position-x: 60%;
	  }
	  @media screen and (max-width: 1000px) {
		background-position-x: 80%;
	  }
	  @media screen and (max-width: 384px) {
		background-position-x: 85%;
	  }

	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
  }
  
/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: 0%}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: 0%}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: 0%;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 40%;

}

#fish2{
	top: 60%;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
.intro{
  background-image: url("bg.svg");
}
#intro{

  background-image: url("bg.svg");


}
/* header{
	height: 20%;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
} */